<html>
<head>
    <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="hgroup">
    <h1>Rock/Paper/Scissors/Lizard/Spock Score</h1>
    <h3>Name: <%= name %></h3>
    <h4>Wins: <%= wins %></h4>
    <h4>Loses: <%= losses %></h4>
</div>